doctype html
//
  Projection by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  style.
    section{
    background-color: #595866 !important;
    }
    h2{
    color:white !important;
    text-align: center;
    }
    footer{
    background-color: #595866 !important;
    }
    .columnLeft {
    overflow: auto;
    float: right;
    width: 50%;
    background-color: #595866;
    height:800px;
    text-align: center !important;
    }
    .columnRight{
    overflow: flex;
    float: right;
    width: 50%;
    background-color: #595866;
    height:800px;
    text-align: right !important;
    }



  head
    title About Us
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body.subpage
    // Header
    header#header
      .inner
        a.logo(href='index.html')
        nav#nav
          a(href='index') Home
          if(logged_in)
            a(href='upload') Upload
            a(href='get_accounts') Account
          a(href='search') Search
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    // Three
    section#three.wrapper
      .inner
        header.align-center
          h2 About Us
     section
      .columnLeft
        embed(src='images/cover.jpg', width='75%')
      .columnRight
        h2(style="vertical-align: middle;") Texas A&M University houses a collection of over nine hundred reels of microfilm containing thousands of documents regarding 1930s New Deal projects in Texas. This website constitutes a project to host scanned copies of these documents online. The site allows researchers to upload, organize, transcribe, search for, and view the records.

    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    script(src='js/main.js')
