doctype html

html
  style.
    form {
    text-align: center;
    display: inline;
    justify-content:space-between;
    }
    input{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    border: 3px;
    padding:10px;
    width:400px;
    }
    select{
    background-color: #FFFEFF;
    color: ##9a9a9a !important;
    border: 3px;
    width:400px;
    height: 40px;
    border-radius: 5px;
    display: block;
    text-align: center;
    }
    h3{
    color:white !important;
    text-align: center;
    }
    .selectWrapper{
    border-radius:30px;
    width:400px;
    overflow:hidden;
    background:#cccccc;
    border:3px solid #80BD93;
    text-align: center !important;
    position: relative !important:
    -ms-transform: translateY(-50%);
    display: inline-block;
    }
    .selectBox{
    width:395px;
    height:40px;
    border:0px;
    outline:none;
    text-align: center !important;
    display: inline;
    }
    .columnLeft {
    float: left;
    width: 50%;
    border-right: solid;
    height: 800px;
    }
    .columnRight{
    float: right;
    width: 50%;
    background-color: #595866;
    height:800px;
    text-align: center !important;
    }
    label {
    display: inline-block;
    width: 140px;
    text-align: right;
    }​
    .formfield * {
    vertical-align: middle;
    }
    textarea{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border: 3px;
    padding:10px;
    width:400px;
    height: 200px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
    }
    p {
    width:500px;
    height:4px;
    display:inline-block;
    }
    input[type="checkbox"]{
    width: auto;
    text-align: center;
    position: relative;
    border: none;
    box-shadow: none;
    }
    .radio-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    }
    .radio-input {
    display: inline-block;
    vertical-align: top;
    }


  head
    title Edit
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body.subpage
    
    header#header
      .inner
        a.logo(href='index.html')
        nav#nav
          a(href='index') Home
          a(href='mydocs') My Documents
          a(href='elements') Account
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    section
      .columnLeft
        embed(src='../pdfs/Malaria 1149.pdf#zoom=50', width='100%', height='800px')
      .columnRight
        p
        h3 Add Information to the Form
        script(src='js/views/edit.js', language='Javascript', type='text/javascript')
        form(action='#', method='post', id='form1')
          .inner
            .selectWrapper
              select.selectBox
                option(value='') -Form Type-
                option(value='') WPA
                option(value='') APA
            div
              input#docNum(type='text', placeholder='Document Number')
            div
              input#f_date(name='date', type='date' , placeholder="Date")
            div
              p Insert the specific information in the form of "Type" : "Content"
              textarea(name='message', rows='6', cols='75', placeholder='Type : Content , Text 2 : Content 2')
            div
              input(type='button', value='test done', onclick="done();")
            div
              input(class="radio-input" , type='checkbox', value='')
              label(class="radio-label") Mark Complete
              input(class="radio-input" , type='checkbox', value='')
              label(class="radio-label") Mark For Review
            p
            ul.actions
              li
                input.button.alt(value='Done', type='submit')
    //Scripts
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>
      <script src="js/edit.js"></script>
      </body>
      </html>

