doctype html
//
  Projection by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title Generic - Projection by TEMPLATED
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;&#x9;
    link(rel='stylesheet', href='assets/css/main.css')
  | &#x9;
  body.subpage
    // Header
    header#header
      .inner
        a.logo(href='index.html')
          strong Projection
          |  by TEMPLATED
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        nav#nav
          a(href='index.html') Home
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='generic.html') Generic
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='elements.html') Elements
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    // Three
    section#three.wrapper
      .inner
        header.align-center
          h2 Nunc Dignissim
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p Aliquam erat volutpat nam dui 
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .image.round.left
          img(src='images/pic01.jpg', alt='Pic 01')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .image.round.right
          img(src='images/pic02.jpg', alt='Pic 02')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
    // Footer
    footer#footer
      .inner
        h3 Get in touch
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        form(action='#', method='post')
          .field.half.first
            label(for='name') Name
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            input#name(name='name', type='text', placeholder='Name')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .field.half
            label(for='email') Email
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            input#email(name='email', type='email', placeholder='Email')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .field
            label(for='message') Message
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            textarea#message(name='message', rows='6', placeholder='Message')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul.actions
            li
              input.button.alt(value='Send Message', type='submit')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .copyright
          | &copy; Untitled. Design: 
          a(href='https://templated.co') TEMPLATED
          | . Images: 
          a(href='https://unsplash.com') Unsplash
          | .
    // Scripts
    script(src='assets/js/jquery.min.js')
    | &#x9;&#x9;&#x9;
    script(src='assets/js/skel.min.js')
    | &#x9;&#x9;&#x9;
    script(src='assets/js/util.js')
    | &#x9;&#x9;&#x9;
    script(src='assets/js/main.js')
