doctype html
//
  Projection by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  style.
    form {
    text-align: center;
    display: inline;
    padding: 100px;
    padding-top: 0px;
    }
    input{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    border: 3px;
    padding:10px;
    width:400px;
    display: inline-block;
    }
    select{
    background-color: #FFFEFF;
    color: ##9a9a9a !important;
    border:3px solid #80BD93;
    padding:15px;
    width:400px;
    height: 40px;
    border-radius: 5px;
    }
    .selectWrapper{
    border-radius:30px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    }
    .selectBox{
    width:395px;
    height:40px;
    border:0px;
    outline:none;
    }
    textarea{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border: 3px;
    padding:10px;
    width:400px;
    height: 200px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
    }
    footer{
    background-color: #595866 !important;
    height: auto;
    }
  head
    title Upload
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body.subpage
    header#header
      .inner
        a.logo(href='index')    
        nav#nav
          a(href='index') Home
          a(href='mydocs') My Documents
          a(href='search') Search
          a(href='elements') Account
          a(href='about') About
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    footer#footer
      .inner
        h3 Upload Documents
        form(action="#", method='post',encType="multipart/form-data")
          .field.half
            input(type="file" multiple="multiple" name="uploadForm")
            input(type='submit' value='Upload!')
            span(id="status")
    //Scripts
      <script src="js/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>
      <script src="js/upload.js"></script>
      </body>
      </html>
