doctype html
//
  Projection by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  style.
    form {
    text-align: center;
    display: inline;
    padding: 100px;
    padding-top: 0px;
    }
    input{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border-radius: 30px;
    border: 3px;
    padding:10px;
    width:400px;
    display: inline-block;
    }
    select{
    background-color: #FFFEFF;
    color: ##9a9a9a !important;
    border:3px solid #80BD93;
    padding:15px;
    width:400px;
    height: 40px;
    border-radius: 5px;
    }
    .selectWrapper{
    border-radius:30px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    }
    .selectBox{
    width:395px;
    height:40px;
    border:0px;
    outline:none;
    }
    textarea{
    background-color: #FFFEFF;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 !important;
    border: 3px;
    padding:10px;
    width:400px;
    height: 200px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
    }
    footer{
    background-color: #595866 !important;
    height: auto;
    }
  head
    title Upload
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body.subpage
    header#header
      .inner
        a.logo(href='index')    
        nav#nav
          a(href='index') Home
          a(href='mydocs') My Documents
          a(href='search') Search
          a(href='elements') Account
          a(href='about') About
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    footer#footer
      .inner
        h3 Upload Documents
        form(action="/action_page.php", method='post')
          .field.half
            input(type="file" name="pdf" accept="application/pdf")
          .selectWrapper
            select.selectBox
              option(value='') -Form Type-
              option(value='') WPA
              option(value='') APA
          .field.half.first
            input#name(name='name', type='text', placeholder='Document Number')
          .field.half
            input(name='date', type='date', placeholder="date")
          .field
            textarea#message(name='message', rows='6', cols="65" , placeholder='Type : Content')
          
          p       
          ul.actions
            li
              input.button.alt(value='Upload', type='submit')

    //Scripts
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>
      </body>
      </html>
